body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #21ba45;
  color: white;
  position: relative;
}

#container {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.twitter-tweet {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
